
<% layout("/layouts/boilerplate")%>

<div class="row">
<div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label"> Enter Title</label> <br>
           <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control">
           <div class="valid-feedback">Tittle looks good</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label"> Enter description </label> <br>
            <textarea name="listing[description]"><%= listing.description %></textarea class="form-control" required>
                <div class="invalid-feedback">enter short description</div>
        
        </div>
        <div class="mb-3">
            <img src="<%=listing.image.url%>"  style="height: 200px;"/>
        </div>
       <div class="mb-3">
        <label for="image" class="form-label"> Enter image </label> <br>
        <input name="listing[image]" value="<%= listing.image %>" class="form-control" type="file" required>
        
       </div class="mb-3">
        <div>
            <label for="price" class="form-label"> Enter price </label> <br>
            <input name="listing[price]" value="<%= listing.price %>" type="number" required class="form-control">
            <div class="invalid-feedback">price should be valid</div>
        </div>
        
       <div class="mb-3">
        <label for="location" class="form-label"> Enter location </label> <br>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"required>
        <div class="invalid-feedback">location should be valid</div>
        
       </div>
        
        <div class="mb-3">
            <label for="country" class="form-label"> Enter country </label> <br>
            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"required>
        </div>
        <br><br>
        <button    class="btn btn-dark edit-btn">Edit</button>
        <br><br>
    </form>
</div>
</div>

