<% layout("/layouts/boilerplate") %>

<style>
  #filters{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter{
    text-align:center;
    margin-right: 3.25rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity:1;
    cursor: pointer;
  }
  .filter p{
    font-size:0.8 rem ;
  }
  #tax-Info{
  display: none;

  }
  .tax-toogle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    float: right;

  }
</style>




<div id="filters" class="navbar navbar-expand-lg bg-body-tertiary"  >
  <div class="filter" >
   <div> <i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>

  <div class="filter" >
    <div> <i class="fa-solid fa-bed"></i></div>
     <p>Rooms</p>
   </div>


   <div class="filter" >
    <div> <i class="fa-solid fa-mountain-city"></i></div>
     <p>Iconic cities</p>
   </div>
   
   <div class="filter" >
    <div> <i class="fa-solid fa-mountain"></i></div>
     <p>Mountain</p>
   </div>


   <div class="filter" >
    <div><i class="fa-brands fa-fort-awesome"></i> </div>
     <p>castles</p>
   </div>


   <div class="filter" >
    <div> <i class="fa-solid fa-person-swimming"></i></div>
     <p>Amazing Pools</p>
   </div>

   <div class="filter" >
    <div><i class="fa-solid fa-campground"></i> </div>
     <p>Camping</p>
   </div>

   <div class="filter" >
    <div> <i class="fa-solid fa-cow"></i></div>
     <p>Farms</p>
   </div>


   <div class="filter" >
    <div><i class="fa-solid fa-snowman"></i> </div>
     <p>Actic</p>
   </div>
   

   <div class="tax-toogle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">Display  total after Taxes</label>
    </div>
   </div>
   






  </div>
  












<div class="container mt-4">
 
  

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
    <% for (let listing of allListings) { %>
      <div class="col">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">
          <div class="card h-100 shadow-sm listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image">
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text mb-1">
                <strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %> /night
                <i class ="tax-Info"> &nbsp;+18% GST</i>
              </p>
              <% if (listing.location) { %>
                <p class="card-text text-muted"><%= listing.location %></p>
              <% } %>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>
<script>
  let taxSwitch = document.getElementById("switchCheckDefault") ;
  taxSwitch.addEventListener("click",()=>{
    let taxInfo = document.getElementsByClassName("tax-Info");
    for(info of taxInfo){
      if(info.style.display != "inline"){
      info.style.display = "inline";
    }
    else{
      info.style.display =" none"
    }
  }
  });
</script>